*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*导航栏开始*/
.header_lg {
    width: 100%;
    height: 62px;
    background:  #22282D;
}
.nav_lg .col-lg-3 img{
    width: 139px;
    height: 27px;
    display: block;
    margin: 20px 0 10px 20px;
}
.nav_lg .col-lg-6 ul a li{
    float: left;
    width: auto;
    height: 62px;
    margin: 0 31px 0 31px;
    /*background: blue;*/
    font-size: 13px;
    line-height: 62px;
    text-align: center;
    color: #fff;
}
.nav_lg .col-lg-6  ul a:nth-child(6) li{
    border-bottom: 2px solid #F1501A;
    color:#F1501A ;
}
.nav_lg .col-lg-6  ul a:hover li{
    border-bottom: 2px solid #F1501A;
    color:#F1501A ;
}
.nav_lg_right i{
    color: #fff;
    font-size: 30px;
    line-height: 62px;
    padding-left: 100px;
}
.nav_lg_right span{
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}
/*导航栏结束*/
/*地图开始*/
.map{
    width: 100%;
    height: 500px;
}
/*地图结束*/
/*意见开始*/
.opinion{
    width: 100%;
    height: 600px;
    background: #333;
    border-top:1px solid #e0e0e0 ;
}
.opinion .row{
    width: 1024px;
    height: 557px;
    margin: 20px auto;
}
.opinion .row .col-lg-6:nth-child(1){
    width: 512px;
    height: 514px;
    padding: 69px 23px 1px 0;
}
.text li{
    width: 489px;
    height: 76px;
}
.phone{
    width: 244px;
    height: 76px;
    padding: 0 10px 10px 0;
    float: left;
    color: #797979;
}
.phone input{
    background: none;
    width: 234px;
    height: 40px;
    margin: 1px;
    padding: 2px;
    border: 1px solid #9C9C9C;
    outline: none;
}
.mail input{
    background: none;
    width: 480px;
    height: 40px;
    margin: 1px;
    padding: 2px;
    border: 1px solid #9C9C9C;
    outline: none;
}
.sub{
    width: 489px;
    height: 99px;
    padding-bottom: 10px;
    color: #797979;
}
.sub textarea{
    background: none;
    width: 480px;
    height: 63px;
    margin: 1px;
    border: 1px solid #9C9C9C;
    outline: none;
    font-size: 13px;
}
/*意见结束*/
/*底部开始*/
.bottom_on{
    width: 100%;
    height: 349px;
    background: #32383D;
    padding: 50px 0 20px 0;
}
.bottom_on .row{
    width: 100%;
    height: 279px;
    padding: 0 40px;
}
/*底部结束*/